---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// your styles here
.masthead { background:#0f2e3d; }
.greedy-nav { background: #0f2e3d; }
.greedy-nav a { color: rgb(242,246,246); }
.greedy-nav a:hover { color: rgb(242,246,246); }

.page {
    width: calc(100% - #{$right-sidebar-width-narrow});
}

.overflow-center {
    margin-left: 50%;
    transform: translateX(-50%);
}

.chart-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr; /* fraction*/
}

.centered {
    text-align: center;
}

.tabs {
    position: relative;
    min-height: 650px; /* This part sucks */
    clear: both;
    margin: 25px 0;
}
.tab {
    float: left;
}
.tab label {
    background: #eee;
    padding: 20px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
    left: 1px;
    z-index: 2;
}
.tab [type=radio] {
    display: none;
}
.tab-content {
    position: absolute;
    top: 28px;
    left: 0;
    background: rgb(242,246,246);
    right: 0;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-bottom: -40px;
    margin-right: -150px;
    visibility: hidden;
    border: 1px solid #ccc;
}
.page__footer {
    background:#0f2e3d; 
}
@media only screen and (min-width: 1300px) {
    .tab-content {
        transform: translateX(-75px);
    }
    .tab label {
        transform: translateX(-75px);
    }
}

@media only screen and (max-width: 1300px) {
    .github-corner {
        display: none;
    }
    .tab label {
        padding: 10px;
        font-size: 14pt;
    }
}

@media only screen and (max-width: 900px) {
    .page {
        width: 100%;
    }
    .tab label {
        padding: 5px;
        font-size: 10pt;
    }
}

[type=radio]:checked ~ label {
    background: rgb(242,246,246);
    border-bottom: 1px solid rgb(242,246,246);
}

[type=radio]:checked ~ label ~ .tab-content {
    z-index: 1;
    visibility: visible;
}